*{
    box-sizing: border-box;
}
#joke {
    width: 50%;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
}
#button {
    width: 20%;
    background-color: aqua;
    margin: auto;
    margin-bottom: 10px;
}
body {
    display: flex;
    flex-direction: column;
    background-color: beige;
}
